# -- Global configuration
global:
  # -- Name of the customer
  customer: ''
  # -- Environment name (i.e. `test`, `staging`, `production`).
  environment: ''
  # -- GCC tenant name (i.e. `demo`, `demob2b`, `northwind`).
  tenant: ''
  # -- Stach chart settings (DO NOT CHANGE)
  stack:
    # -- whether stack is enabled or not
    enabled: false
    # -- stack chart version
    version: ''
  # -- ASP.NET environments
  aspnet:
    # ASPNETCORE_ENVIRONMENT. Defaults to .global.environment with first letter capitalized
    environment: ''
    # ASPNETCORE_FORWARDEDHEADERS_ENABLED. Defaults to true
    forwardedHeaders: true
    # DOTNET_USE_POLLING_FILE_WATCHER. Defaults to true.
    pollingFileWatcher: true
  # -- Docker image registry configuration.
  imageRegistry:
    # -- Image pull secrets 
    pullSecrets: []
    # -- Image repository base path.
    basePath: ''
  # -- Global OTEL settings
  otel:
    # -- Whether OTEL is enabled
    enabled: true
    # -- OTEL protocol
    protocol: grpc
    # -- Is OTEL commuinication is secure or not
    insecure: true
    # -- OTEL endpoint settings
    endpoint: {}
      # -- OTEL collector host
      # host: ''
      # -- OTEL collector credentials
      # credentials: ''
  # -- Global Infisical settings
  infisical:
    # -- Infisical host api url
    hostAPI: ''
    # -- Infisical credentials secret reference
    credentialsRef:
      # -- Infisical auth secret name
      secretName: ''
      # -- Infisical auth secret namespace
      secretNamespace: ''
  # -- Global DAPR settings
  dapr:
    # -- mTLS settings
    mtls:
      # -- Whether to enable mtls or not
      enabled: false
      # -- Control plane trust domain
      trustDomain: cluster.local
      # -- DAPR sentry address. Defaults to 'dapr-sentry.infra-dapr.svc.clister.local:443'
      sentryAddress: ''
    # -- Tracing OTEL configuration
    otel:
      # -- Whether transport is secure
      isSecure: false
      # -- OTEL endpoint
      endpoint: ''
      # -- OTEL transport protocol
      protocol: grpc


# -- Whether to deploy api or not.
enabled: false
# -- Name of the api (i.e. `store`, `catalog`, `cart`).
name: ''
# -- Api provider type (i.e. `omnium`, `sanity`, `geta`).
provider: ''

# -- OpenTelemetry settings
otel:
  # -- OpenTelemetry logs settings
  logs:
    # -- Whether to send logs to otel collector or not. Defaults to true
    enabled: true
  # -- OpenTelemetry traces settings
  traces:
    # -- Whether to send traces to otel collector or not. Defaults to true
    enabled: true
    # -- Tracing sampler name
    sampler: parentbased_traceidratio
    # -- Tracing sampling rate
    samplingRate: "1.0"
  # -- OpenTelemetry metrics settings
  metrics:
    # -- Whether to send metrics to otel collector or not. Defaults to true
    enabled: true

# -- Infisical secret settings.
infisicalSecret:
  # -- Whether infisical secret should be created or not
  enabled: false
  # -- Secret annotations
  annotations: {}
  # -- Infisical and native secret name
  name: ''
  # -- Infisical project slug
  projectSlug: ''
  # -- Infisical environment slug
  envSlug: ''
  # -- Infisical secrets path
  secretsPath: ''
  # -- Whether secret is recursive or not
  recursive: false
  # -- Native secret type. Defaults to Opaque
  secretType: Opaque
  # -- Infisical secret creation policy. Defaults to Orphan
  creationPolicy: Orphan
  # -- Secret resync interval. Defaults to 120 seconds
  resyncInterval: 120
 
# -- API DAPR settings
dapr:
  # -- Global API DAPR switch to disable all DAPR components
  enabled: false
  # -- DAPR components scope. Defaults to api name
  scope: ''
  # -- DAPR Configuration
  configuration:
    # -- Whether to render Configuration manifest
    enabled: false
    metrics:
      enabled: false
      rules: []
    logging:
      enabled: false
      obfuscateURLs: false
      omitHealthChecks: true
    tracing:
      samplingRate: "1"
      stdout: true

    # -- mTLS settings
    mtls:
      # -- Whether to enable mtls or not
      enabled: false
      # -- Control plane trust domain
      trustDomain: cluster.local
      # -- DAPR sentry address. Defaults to 'dapr-sentry.{{$.Release.Namespace}}.svc.clister.local:443'
      sentryAdress: ''
    # -- DAPR feature toggles 
    features:
      - name: HotReload
        enabled: true
      - name: SchedulerReminders
        enabled: false
  # -- DAPR Resiliency
  resiliency:
    # -- Whether to render Resilienct manifest
    enabled: false
    # -- Retry settings
    retry:
      # -- Whether retry is enabled
      enabled: true
      # -- Retry policy
      policy: constant
      # -- Retry duration
      duration: 1m
      # -- Retry max tries
      maxRetries: 5
  # -- DAPR Components
  component:
    # -- Whether component is enabled
    enabled: false
    # -- Component name
    name: ''
    # -- Component type
    type: pubsub.rabbitmq
    # -- Component version
    version: v1
    # -- Component metadata
    metadata:
      # -- Component connection string settings
      connectionString:
        # -- Whether to take connection string from infisical secret
        fromInfisicalSecret: true
        # -- Connection string secret key
        secretKey: RABBITMQ_CONNECTION_STRING
        # -- Fallback when secret is disable
        plainTextValue: ''
      consumerId: "{appID}"
      clientName: "{appID}"
      durable: true
      deleteWhenUnused: false
      autoACK: false
      deliveryMode: 0
      requeueInFailure: false
      prefetchCount: 10
      publisherConfirm: true
      reconnectWait: 0
      concurrencyMode: parallel
      enableDeadLetter: true
      maxLen: 1000
      maxLenBytes: 1048576
      exchangeKind: topic
      saslExternal: false
      heartBeat: 10s
  # -- DAPR Subscriptions
  subscriptions: []
    # enabled: false
    # name: ''
    # topic: ''
    # deadLetterTopic: ''
    # route: ''
    # routingKey: ''

# -- GCC API configuration.
api:
  # -- Name override.
  nameOverride: ''
  # -- FullName override.
  fullnameOverride: ''
  # -- Image configuration. [Documentation](https://kubernetes.io/docs/concepts/containers/images/).
  image:
    # -- Image repository.
    repository: ''
    # -- Image pull policy.
    pullPolicy: IfNotPresent
    # -- Image tag. Defaults to .Chart.AppVersion.
    tag: ''
  # -- Deployment configuration
  deployment:
    # -- Deployment labels.
    labels: {}
    # -- Deployment annotations.
    annotations: {}
  # -- Number of replicas to run.
  replicas: 1
  # -- Autoscaling configuration. [Documentation](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/).
  autoscaling:
    # -- Whether to enable HPA or not
    enabled: false
    # -- Min amount of replicas
    minReplicas: 1
    # -- Max amount of replicas
    maxReplicas: 3
    # -- Target CPU utilization percentage
    targetCPUUtilizationPercentage: 80
    # -- Target memory utilization percentage
    # targetMemoryUtilizationPercentage: 80
  # -- Service account configuration. [Documentation](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/).
  serviceAccount:
    # -- Whether to create service account or not.
    create: true
    # -- Service account name. Defaults to {{ .name }}-{{ .provider }}-api.
    name: ''
    # -- Service account annotations. Example: `{ foo/bar: "Some annotation" }`.
    annotations: {}
  # -- Pod security context. [Documentation](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/).
  podSecurityContext: {}
  # -- Container security context. [Documentation](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/).
  securityContext: {}
  # -- Service configuration. [Documentation](https://kubernetes.io/docs/concepts/services-networking/service/).
  service:
    # -- Service type
    type: ClusterIP
    # -- Service ports
    ports:
      - name: http
        # -- Service port to expose
        port: 80
        # -- service target
        target:
          # -- Target port name on a pod
          name: http
          # -- Target port on a container.
          port: 8080
        # -- Protocol
        protocol: TCP
    # -- Service level annotations.
    annotations: {}
  # -- Environment variables. [Documentation](https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-container/).
  env: []
  # -- Environment variables mapping. [Documentation](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/).
  envFrom: []
  # -- Pod level annotations.
  podAnnotations: {}
  # -- Additional pod labels
  podLabels: {}
  # -- Pod lifecycle rules
  podLifecycle: {}
  # -- Volumes configuration. [Documentation](https://kubernetes.io/docs/concepts/storage/volumes/).
  volumes: []
  # -- Volume mounts configuration. [Documentation](https://kubernetes.io/docs/concepts/storage/volumes/).
  volumeMounts: []
  # -- Resources configuration. [Documentation](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/).
  resources:
    # -- CPU/Memory resource requests and limits. [Documentation](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/).
    limits:
      # -- CPU limit
      cpu: 1000m
      # -- Memory limit
      memory: 512M
    # -- CPU/Memory resource requests and limits. [Documentation](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/).
    requests:
      # -- CPU request
      cpu: 10m
      # -- Memory request
      memory: 128M
  # -- Probes configuration. [Documentation](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/).
  probes:
    # -- Liveness probe configuration.
    liveness:
      # -- Whether to enable liveness probe or not.
      enabled: true
      # -- liveness probe configuration.
      httpGet:
        #-- Path to check.
        path: /health
        #-- Port to check. Defaults to .service.ports[0].port. or 
        port: 80
      # -- initial delay seconds.
      initialDelaySeconds: 10
      # -- timeout seconds.
      timeoutSeconds: 10
      # -- period seconds.
      periodSeconds: 10
      # -- failure threshold.
      failureThreshold: 3
    # -- Startup probe configuration.
    startup:
      # -- Whether to enable startup probe or not.
      enabled: false
    # -- Readiness probe configuration.
    readiness:
      # -- Whether to enable readiness probe or not.
      enabled: true
      # -- readiness probe configuration.
      httpGet:
        #-- Path to check.
        path: /ready
        #-- Port to check.
        port: 80
      # -- initial delay seconds.
      initialDelaySeconds: 15
      # -- timeout seconds.
      timeoutSeconds: 10
      # -- period seconds.
      periodSeconds: 10
      # -- failure threshold.
      failureThreshold: 3
  # -- Node selector configuration. [Documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/).
  nodeSelector: {}
  # -- Tolerations configuration. [Documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/).
  tolerations: []
  # -- Affinity configuration. [Documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity)
  affinity: {}
  # -- Pod sidecars. [Documentation](https://kubernetes.io/docs/concepts/workloads/pods/)
  sidecars: []
  # -- Pod termination grace period seconds. [Documentation] (https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/)
  terminationGracePeriodSeconds: 30

# -- Tests configuration.
tests:
  # -- Whether to enable tests or not.
  enabled: false