name: Configure notifications
on:
  workflow_call:
    inputs:
      app_index:
        required: true
        type: number
        description: Application settings index
      version:
        required: true
        type: string
        description: Application version
      settings:
        required: true
        type: string
        description: Settings JSON string
      initial_state:
        required: true
        type: string
        description: Initial phase state
    outputs:
      artifact:
        value: ${{ jobs.configure.outputs.artifact }}
        description: Github artifact containing slack message template
      template_file:
        value: ${{ jobs.configure.outputs.file }}
        description: Slack message template file
      phase_state:
        value: ${{ jobs.configure.outputs.phase_state }}
jobs:
  configure:
    runs-on: ${{ fromJson(inputs.settings).general.runOn || 'ubuntu-latest' }}
    timeout-minutes: 10
    outputs:
      artifact: ${{ steps.artifact.outputs.name }}
      file: ${{ steps.artifact.outputs.template_file }}
      phase_state: ${{ steps.template.outputs.phase_state }}
    env:
      ARTIFACT: slack-templates
    steps:
      -
        name: Get notification template
        id: template
        uses: Geta/gks/actions/build-notification-template@v5
        with:
          title: ${{ github.workflow }}
          user: ${{ github.actor }}
          app: ${{ fromJson(inputs.settings).general.apps[inputs.app_index].name }}
          icon_url: ${{ fromJson(inputs.settings).general.apps[inputs.app_index].icon }}
          action_url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          version: ${{ inputs.version }}.${{ github.run_number }}
          hash: ${{ github.sha }}
          revision: ${{ fromJson(inputs.settings).notifications.slack.templateRef }}
          initial_state: ${{ inputs.initial_state }}
      -
        name: Store template in artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.ARTIFACT }}-${{ inputs.app_index }}-${{ github.run_id }}
          path: ${{ steps.template.outputs.template_file }}
          if-no-files-found: error
          retention-days: 5
      -
        name: Output
        id: artifact
        run: |
          echo "name=${{ env.ARTIFACT }}" >> $GITHUB_OUTPUT
          FILENAME=$(basename ${{ steps.template.outputs.template_file }})
          echo "template_file=$FILENAME" >> $GITHUB_OUTPUT