name: Publish NuGet client package
on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
        description: Environment name
      version:
        required: true
        type: string
        description: Version number
      settings:
        required: true
        type: string
        description: Settings json string
jobs:
  publish:
    name: Publish Nuget client
    runs-on: ${{ fromJson(inputs.settings).general.runOn || 'ubuntu-latest' }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          token: ${{ secrets.GKS_GH_ACCESS_TOKEN }}
          submodules: ${{ fromJson(inputs.settings).source.submodules }}
      -
        name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
            9.0.x
      -
        name: Format version number
        id: version
        shell: bash
        run: |
          VERSION=$(echo ${{ inputs.version }} | sed 's/v//g')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      -
        name: Add GitHub NuGet source
        run: |
          dotnet nuget add source ${{ fromJson(inputs.settings).clients.nuget.packagesUrl }} -n github -u ${{ secrets.GKS_GH_USER }} -p ${{ secrets.GKS_GH_ACCESS_TOKEN }} --store-password-in-clear-text
      -
        name: Release
        run: |
          echo "${env:VERSION}"
          dotnet build --configuration Release /p:Version=${{ steps.version.outputs.version }}
      -
        name: Test
        run: dotnet test --configuration Release /p:Version=${{ steps.version.outputs.version }} --no-build
      -
        name: Pack
        run: dotnet pack --configuration Release /p:Version=${{ steps.version.outputs.version }} --no-build --output .
      -
        name: Push
        continue-on-error: true
        run: |
          dotnet nuget push Geta.Cloud.Localization.Client.${{ steps.version.outputs.version }}.nupkg --source ${{ fromJson(inputs.settings).clients.nuget.packagesUrl }} --api-key ${{ secrets.GKS_GH_ACCESS_TOKEN }}
          dotnet nuget push Geta.Cloud.Localization.Client.Private.${{ steps.version.outputs.version }}.nupkg --source ${{ fromJson(inputs.settings).clients.nuget.packagesUrl }} --api-key ${{ secrets.GKS_GH_ACCESS_TOKEN }}
