name: Publish NPM client package 
on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
        description: Environment name
      version:
        required: true
        type: string
        description: Version number
      settings:
        required: true
        type: string
        description: Settings json string
      nswag_config:
        required: false
        default: typescript.tar.gz
        type: string
        description: NSwag config file path
jobs:
  publish:
    name: Publish NPM client
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          token: ${{ secrets.GKS_GH_ACCESS_TOKEN }}
          submodules: false
      -
        name: Install NSwag
        shell: bash
        run: |
          npm install -g nswag
          nswag -version
          nswag version /runtime:${{ fromJson(inputs.settings).clients.npm.nswagRuntime }}
      -
        name: Download NSwag config
        id: config
        shell: bash
        run: |
          URL=$(echo "https://${{ secrets.GKS_GH_ACCESS_TOKEN }}@raw.githubusercontent.com/Geta/gks/${{ fromJson(inputs.settings).clients.npm.packageTemplateRevision }}/assets/nswag/${{ inputs.nswag_config }}")
          ARCHIVE_PATH=$(echo "${{ inputs.nswag_config }}")
          curl -L $URL > $ARCHIVE_PATH
          tar -xzf $ARCHIVE_PATH
          FILE_PATH=$(echo "typescript/nswag.json")
          TEMPLATE_PATH=$(echo "templates")
          echo "file=$FILE_PATH" >> $GITHUB_OUTPUT
          echo "templates=$TEMPLATE_PATH" >> $GITHUB_OUTPUT
      -
        name: Generate Typecript client
        id: client
        shell: bash
        run: |
          OUTPUT_PATH=$(echo "$(pwd)/${{ fromJson(inputs.settings).clients.npm.srcFilesDir }}/output/")
          NSWAG_RUNTIME=$(echo "${{ fromJson(inputs.settings).clients.npm.nswagRuntime }}")
          nswag run "${{ steps.config.outputs.file }}" /variables:Configuration=Release,Environment=CI,Runtime=$NSWAG_RUNTIME,PathToSwaggerJson=${{ fromJson(inputs.settings).clients.npm.swaggerFile }},TemplatePath=${{ steps.config.outputs.templates }},OutputPath=$OUTPUT_PATH
          echo "path=$OUTPUT_PATH" >> $GITHUB_OUTPUT
      -
        name: Upload client as artifact
        uses: actions/upload-artifact@v4
        with:
          name: TypeScript client
          path: ${{ steps.client.outputs.path }}
          if-no-files-found: error
          retention-days: 1
      - 
        name: Publish NPM client
        uses: Geta/gks/actions/publish-npm-package@v5
        with:
          repository_name: ${{ fromJson(inputs.settings).clients.npm.repositoryName }}
          service_name: ${{ fromJson(inputs.settings).clients.npm.serviceName }}
          version: ${{ inputs.version }}
          build_number: ${{ github.run_number }}
          env: ${{ inputs.env }}
          template_revision: ${{ fromJson(inputs.settings).clients.npm.packageTemplateRevision }}
          src_files_dir: ${{ steps.client.outputs.path }}
          node_version: ${{ fromJson(inputs.settings).clients.npm.nodeVersion }}
          gh_token: ${{ secrets.GKS_GH_ACCESS_TOKEN }}
          packages_url: ${{ fromJson(inputs.settings).artifacts.npm.registryUrl }}